.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 35%;
  min-width: 310px;
  box-shadow: 0px 0px 3px 1px #969696;

}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.progress {
  height: 5px;
  margin: 3px;
  background-color: #e6e6e6;
}

.progress div{
  background-color: #ff8585 ;
  height: 100%;
  width: 0px;
  -webkit-transition: width 1s,background-color 1s; /* Safari */
  transition: width 1s, background-color 1s;
}
